/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/////////////////////////////////////// Browse happy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/////////////////////////////////////// Variables
// primary color
$bluegreen: #7ECBB1;
$blue: #515E72;
$darkblue: #2D3A4B;
$yellow: #E3AA3F;
$orange: #E4782B;
$redorange: #DA5F27;
$sand: #E8DCAA;
$white: #fff;


/////////////////////////////////////// Mixins
@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-name($name) {
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
    -moz-animation-timing-function: $timing-function;
    -o-animation-timing-function: $timing-function;
    animation-timing-function: $timing-function;
}

@mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
    -moz-animation-iteration-count: $iteration-count;
    -o-animation-iteration-count: $iteration-count;
    animation-iteration-count: $iteration-count;
}

@mixin animation-fill-mode($fill-mode) {
    -webkit-animation-fill-mode: $fill-mode;
    -moz-animation-fill-mode: $fill-mode;
    -o-animation-fill-mode: $fill-mode;
    animation-fill-mode: $fill-mode;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    transform: $transformation;
}

@mixin sand() {
    position: absolute;
    top: 215px;
    left: 242px;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: $sand;
}

/////////////////////////////////////// Global
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    // position: absolute;
    // top: 0%;
    width: 100%;
    height: 100%;
    // overflow: hidden;   
}

.move-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 72%;
    left: 0;
    right: 0;
    width: 150px;
    height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    color: $white;
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
}

.down-arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    left: 0;
    right: 0;
}

// Option 1
#option-1 {
    position: relative;
    background-color: $bluegreen;
    padding-top: 80px;
    .inner-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: -320px;
        left: 0;
        right: 0;
        width: 500px;
        .opt-1-sand-1 {
            @include sand();
        }
        .opt-1-sand-1-animate {
            @include animation-name(sand-drop-1);
            @include animation-delay(1s);
            @include animation-duration(0.5s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes sand-drop-1 {
            0%   { 
                    top: 215px;  }
            100% { 
                    top: 275px;  }
        }
        .opt-1-sand-2 {
            @include sand();
        }
        .opt-1-sand-2-animate {
            @include animation-name(sand-drop-2);
            @include animation-delay(1.9s);
            @include animation-duration(0.5s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes sand-drop-2 {
            0%   { 
                    top: 215px;  }
            100% { 
                    top: 275px;  }
        }
        .opt-1-sand-3 {
            @include sand();
        }
        .opt-1-sand-3-animate {
            @include animation-name(sand-drop-3);
            @include animation-delay(2.8s);
            @include animation-duration(0.5s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes sand-drop-3 {
            0%   { 
                    top: 215px;  }
            100% { 
                    top: 263px;  }
        }
        .opt-1-sand-4 {
            @include sand();
        }
        .opt-1-sand-4-animate {
            @include animation-name(sand-drop-4);
            @include animation-delay(3.7s);
            @include animation-duration(0.5s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes sand-drop-4 {
            0%   { 
                    top: 215px;  }
            100% { 
                    top: 250px;  }
        }
    }
    .logo-drop {
        @include animation-name(logo-drop);
        @include animation-delay(0.2s);
        @include animation-duration(0.7s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(1);
        @include animation-fill-mode(forwards);
    }
    @-webkit-keyframes logo-drop {
        0%   { 
                top: -320px;  }
        80%   { 
                top: 40px;  }
        90%   { 
                top: 20px;  }
        100% { 
                top: 30px;  }
    }
}

// Option 2
#option-2 {
    position: relative;
    background-color: $blue;
    padding-top: 80px;
    .inner-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 150px;
        left: 0;
        right: 0;
        width: 525px;
        height: 200px;
        .opt-2-svg {
            position: absolute;
            left: -30px;
            bottom: 0;
            .opt-2-path {
                stroke-dasharray: 790;
                stroke-dashoffset: 790;
            }
            @keyframes dash {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }
        .opt-2-upper-arm {
            opacity: 0;
            position: absolute;
            left: 65px;
            bottom: 122px;
            width: 9px;
            height: 27px;
            background-color: $darkblue;
        }
        .opt-2-upper-arm-animate {
            @include animation-name(upper-arm-animate);
            @include animation-delay(3s);
            @include animation-duration(0.7s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes upper-arm-animate {
            0%   { 
                    opacity: 0;
                    left: 65px;
                    bottom: 122px;
                    height: 0px;
                    @include transform(rotate(0deg)); }
            1%   { 
                    opacity: 1;
                    left: 65px;
                    bottom: 122px;
                    height: 0px;
                    @include transform(rotate(0deg)); }
            30%   { 
                    opacity: 1;
                    left: 65px;
                    bottom: 122px;
                    height: 27px;
                    @include transform(rotate(0deg)); }
            100% { 
                    opacity: 1;
                    left: 63px;
                    bottom: 123px;
                    height: 27px;
                    @include transform(rotate(-45deg)); }
        }
        .opt-2-lower-arm {
            opacity: 0;
            position: absolute;
            left: 65px;
            bottom: 122px;
            width: 9px;
            height: 22px;
            background-color: $darkblue;
            border-radius: 0 0 9px 0;
        }
        .opt-2-lower-arm-animate {
            @include animation-name(lower-arm-animate);
            @include animation-delay(3s);
            @include animation-duration(0.7s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes lower-arm-animate {
            0%   { 
                    opacity: 0;
                    left: 65px;
                    bottom: 122px;
                    height: 0px;
                    @include transform(rotate(0deg)); }
            1%   { 
                    opacity: 1;
                    left: 65px;
                    bottom: 122px;
                    height: 0px;
                    @include transform(rotate(0deg)); }
            30%   { 
                    opacity: 1;
                    left: 65px;
                    bottom: 122px;
                    height: 22px;
                    @include transform(rotate(0deg)); }
            70% { 
                    opacity: 1;
                    left: 63px;
                    bottom: 121px;
                    height: 22px;
                    @include transform(rotate(-90deg)); }
            100% { 
                    opacity: 1;
                    left: 64px;
                    bottom: 114px;
                    height: 22px;
                    @include transform(rotate(-135deg)); }
        }
        .opt-2-text {
            opacity: 0;
            position: absolute;
            bottom: -2px;
            left: 60px;
        }
        .opt-2-text-animate {
            @include animation-name(opt-2-slide);
            @include animation-delay(3.4s);
            @include animation-duration(0.4s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes opt-2-slide {
            0%   { 
                    opacity: 0;
                    left: 600px; }
            85% { 
                    opacity: 1;
                    left: 133px; }
            100% { 
                    opacity: 1;
                    left: 143px; }
        }
    }
}

// Option 3
#option-3 {
    position: relative;
    background-color: $yellow; 
    padding-top: 80px;
    .inner-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 40px;
        left: 0;
        right: 0;
        width: 500px;
        height: 500px;
        .opt-3-mask {
            position: absolute;
            top: 195px;
            left: 185px;
            z-index: 150;
        }
        .opt-3-watcharm-large {
            position: absolute;
            top: 200px;
            left: 226px;
            z-index: 100;
        }
        .opt-3-watcharm-large-animate {
            @include animation-name(watcharm-large);
            @include animation-delay(1.5s);
            @include animation-duration(0.4s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes watcharm-large {
            0%   { 
                    top: 200px; }
            85% { 
                    top: 173px; }
            100% { 
                    top: 176px; }
        }
        .opt-3-watcharm-small {
            position: absolute;
            top: 210px;
            left: 256px;
            z-index: 100;
        }
        .opt-3-watcharm-small-animate {
            @include animation-name(watcharm-small);
            @include animation-delay(1.2s);
            @include animation-duration(0.4s);
            @include animation-timing-function(linear);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);
        }
        @-webkit-keyframes watcharm-small {
            0%   { 
                    top: 210px;
                    left: 256px; }
            100% { 
                    top: 199px;
                    left: 264px; }
        }
        #opt-3-circle {
            position: absolute;
            top: 200px;
            left: 189px;
            @include transform(rotate(-45deg));
            z-index: 200;
        }
        .opt-3-text {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 500px;
            z-index: 300;
        }
    } 
}